<!doctype html>
<html>
<head>
    <title>Simple Calculator</title>
</head>

<body>
    <h1>Welcome to my simple web calculator</h1>
    <form method="POST">
        <lable for="num1">Num1</label>
        <input name="num1"><br>
        <lable for="num2">Num2</label>
        <input name="num2">

        <select>
            <option value="addition">Add</option>
            <option value="subtraction">subtraction</option>
            <option value="multiplication">multiplication</option>
            <option value="division">division</option>
        </select>

        <div>
            {% if result %}
                <div>{{ result }}</div>
            {% endif %}
        <div>
    </form>
</body>

</html>
