<!doctype html>
<html>
<head>
    <title>Simple Calculator</title>
</head>

<body>
    <h1>Welcome to my simple web calculator</h1>
    <form method="POST">
        <lable for="num1">Num1</label>
        <input name="num1"><br>
        <lable for="num2">Num2</label>
        <input name="num2"> <br>

        <select name="operation">
            <option value="addition">Add</option>
            <option value="subtraction">subtraction</option>
            <option value="multiplication">multiplication</option>
            <option value="division">division</option>
        </select>

        <br>
        <button type="submit">Calculate</button>
    </form>
    
    <div>
        {% if result %}
            <h2>{{ result }}</h2>
        {% endif %}
    <div>
</body>

</html>
