{% extends 'base.html' %}

{% block content %}

<h1>Task Flow</h1>
<p>View all your tasks</p>


<ol>
    {% if todos %}
        {% for todo in todos %}
            <li>
                <strong>{{ todo.title }}:</strong> 
            </li>
            {{ todo.description }} | <a href="{{ url_for('delete_task', task_id=todo.id) }}">Delete</a> | <a href="{{ url_for('edit_task', task_id=todo.id)}}">Edit</a>|
        {% endfor %}
    {% else %}
        <li>No tasks added yet</li>
    {% endif %}
</ol>

{% endblock %}